<div style="margin-top:60px;">
    <center>   
            <img class="img-circle thumbnail" src="pics/student.jpg" height ="120" width="120px" />
    </center>
    <center>
        <div class="margin-top_bottom_10px">
            <span id="user_n" class="color-2b7dbc font-size-18px remove-measure-btn"><%= sessionStorage.userName %></span>
            <br />
            <span class="font-size-12px"><%= sessionStorage.location %></span>
        </div>
    </center>
    <center>
        <div class="margin-top_bottom_20px">
            <a href="#messagereply" class="profile-btn people-btn" >
                <i class="fa fa-envelope"></i> Send a Message 
            </a>
            
        </div>
    </center>
    <div class="">
        <div class="">
            <div class="about">
                <span > About </span>
            </div>
            <div class="margin-right-15px margin-left-15px">
                <span> 
                 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                 Morbi auctor vehicula urna quis ornare. Suspendisse ornare laoreet congue.
                 Vestibulum vel dolor dapibus, vulputate orci sit amet, semper enim.
                 Proin elementum dui at sem pellentesque bibendum. Integer in leo id risus tempus euismod sit amet ut sapien.
                 Aenean consectetur sit amet metus facilisis finibus. 
                </span>
            </div>
        </div>
        
        <div class="margin-top-20px">
            <div class="about">
                <span> Network </span>
            </div>
            <div class="margin-right-15px margin-left-15px color-2B7DBB">
                <ul class="network-list regular-ul">
                    <li> <i class="fa fa-facebook-square fa-3x"></i> </li>
                    <li> <i class="fa fa-twitter-square fa-3x"></i>  </li>
                    <li> <i class="fa fa-instagram fa-3x"></i> </li>
                    <li> <i class="fa fa-linkedin-square fa-3x"></i> </li>
                </ul>
            </div>
        </div>
    </div>
    
</div>