<div style="margin-top:60px;">
    <center>   
            <img class="img-circle img-profile" src="pics/DianaSiegler.jpg" />
    </center>
    <center>
        <div class="margin-top_bottom_10px">
            <span id="user_n" class="color-2b7dbc font-size-18px remove-measure-btn"><%= sessionStorage.userName %></span>
            <br />
            <span class="font-size-12px"><%= sessionStorage.location %></span>
        </div>
    </center>
    <center>
        <div class="margin-top_bottom_20px">
            <a class="profile-btn" href="#messagefirst"><i class="fa fa-envelope"></i> Messages</a>
            <a class="profile-btn messages-btn" href="#peoplefirst"><i class="fa fa-users"></i> People </a>
        </div>
    </center>
    <div class="">
        <a href="#courses">
            <div class="background-color-0f487f height_50px display_text_center color-white font-size-18px">
            <i class="fa fa-book"></i> My Courses </div>
        </a>
        
        <a href="#coursenotification">
            <div class="background-color-2b7dbc height_50px display_text_center color-white font-size-18px">
            <i class="fa fa-bell-o"></i> Notifications </div>
        </a>
            
        <a href="#discussionfirst">
             <div class="background-color-0f487f height_50px display_text_center color-white font-size-18px">
             <i class="fa fa-comments-o"></i> Discussions </div>
        </a>
        
         <a href="#menacademy">
        <div class="background-color-2b7dbc height_50px display_text_center color-white font-size-18px"><i class="fa fa-university"></i> MenAcademy        </div>
         </a>
        
        <div class="margin-top-20px">
            <div class="widget-box transparent">
                <!--<div class="widget-header widget-header-small header-color-blue2">-->
                    <!--<h4 class="widget-title smaller">-->
                    <div class="border-bottom-dotted-gray margin-5px padding-bottom-10px">
                    <h4 class="color-2B7DBB">
                        <!--<i class="ace-icon fa fa-lightbulb-o bigger-120"></i>-->
                        My Rates
                    </h4>
                </div>
                <div class="widget-body margin-top-20px">
                        <center>   
                            <img class="" src="pics/rates.png" />
                        </center>
                </div>
            </div>
        </div>
        
    </div>

    </div>