	html ,body{
		height: 96%;
		font-family: Verdana;
	}
	
	a:link {
		background-color: transparent;
		text-decoration: none;
	}
	
	a:visited {
		background-color: transparent;
		text-decoration: none;
	}
	
	a:hover {
		background-color: transparent;
		text-decoration: none;
	}
	
	a:active {
		background-color: transparent;
		text-decoration: none;
	}
	
	.container  {
		height:100%;
		width:100%;
	}
	.container > div{
		height:100%;
	}
	.thumbnail {
		border-radius: 50% !important;
		border: 1px solid #2b7dbc !important;
		padding: 0px !important;
	}
	
.img-profile{
	border-radius: 50%;
}
	
	.circle
	{
	width:34px;
	height:34px;
	border-radius:50%;
	font-size:12px;
	color: #0C467F;
	line-height:34px;
	text-align:center;
	background:#fff;
	border:solid 2px #2B7DBC;
	}
		
	.display_text_center {
		text-align: center;
		line-height: 50px;
	}
	
	.navbar-style {
		border-bottom-style:solid;
		border-bottom-width:3px;
		border-bottom-color:#2b7dbc;
		text-align:center;
	}
	
	a {
		text-decoration: none !important;
	}
	
	.menu-icon {
		cursor: pointer;
		float: left;
		background-color:#2b7dbc;
		width: 50px;
		height: 40px;
	}
	
	.menu-icon i {
		margin:10px; 
		color:white;
	}
	
	.chevron-left-icon {
		cursor: pointer;
		float: left;
		background-color:#2b7dbc;
		width: 50px;
		height: 40px;
		margin-left: -52px;
	}
	
	.chevron-right-icon{
		float: right;
		line-height: 56px !important;
		margin-right: 10px;color:#2B7DBC;
	}
	
	.trash-icon {
		float: right;
		line-height: 38px !important;
		margin-right: 10px;
		color: white;
		cursor: pointer;
	}
	
	.Envelope-plus {
		float: right;
		margin-top: 12px;
		margin-right: 10px;
	
	}
	
	.chevron-left-icon i {
		color:white;
		line-height: 42px;
	}
	
	.paper-plan {
		float: right;
		margin-right: -55px;
		margin-top: 6px;
		color: #fff;
	}
	.visibility-hidden {
		visibility: hidden;
	}
	
	.visibility-visible {
		visibility: visible;
	}
	
	
	/********Helper Classes*********/
	
	.star-blue {
		color: #2C7DB2;
		width: 30px;
		text-align: center;
		font-size: 20px !important;
	}
	/*List Classes*/
	
	.regular-ul {
		 margin:0 !important;
	}
	.regular-list li {
		list-style:none;
	}
	
	.network-list li {
		list-style:none;
		width: 25%;
		text-align: center;
		float: left;
		margin-top:10px;
		margin-bottom:10px;
	}
	
	/*Positions Classes*/
	.position-relative {
		position:relative;
	}
	.position-absolute {
		position: absolute; 
	}
	
	.top-7px {
		top: 7px;
	}
	
	.top-20px {
		top: 20px;
	}
	.top-30px {
		top: 30px;
	}
	.left-10px {
		left: 10px;
	}
	.right-15px {
		right: 15px;
	}
	.float-left {
		float:left;
	}
	/*width_Height*/
	.line-height-40px {
		line-height: 40px; 
	}
	
	.line-height-36px {
		line-height: 36px !important; 
	}
	
	.line-height-70px {
		line-height: 70px !important;
	}
	
	.height_40px {
	   height:40px;
	}
	.height_50px {
	   height:50px;
	}
	.height_86px {
	   height:86px;
	}
	/*Font Classes*/
	.font-bold {
		font-weight: bold;
	}
	
	 .font-italic {
		font-style: italic;
	}
	
	.font-size-24px {
	   font-size: 24px !important;
	}
	
	.font-size-18px {
	   font-size: 18px;
	}
	
	.font-size-16px {
	   font-size: 16px;
	}
	
	.font-size-15px {
	   font-size: 15px;
	}
	
	.font-size-14px {
	   font-size: 14px;
	}
	
	.font-size-12px {
	   font-size: 12px;
	}
	
	.font-size-11px {
	   font-size: 11px;
	}
	
	.font-request-14px{
		font-size: 14px !important;
	}
	/*Color Classes*/
	
	.color-white {
	   color: white;
	}
	.color-2b7dbc {
	   color: #2b7dbc;
	}
	.color-525252 {
	   color: #525252;
	}
	.color-0f487f {
	   color: #0f487f;
	}
	
	.color-7D7D7D {
	   color: #7D7D7D;
	}
	
	.color-2B7DBA {
	   color: #2B7DBA;
	}
	
	.color-2B7DBB {
	   color: #2B7DBB;
	}
	
	.color-#0E477F {
	   color: #0E477F;
	}
	.color-2B7DB8 {
	   color: #2B7DB8 !important;
	}
	
	.color-333333 {	
	   color: #333333;
	}
	
	.color-0C467F {	
	   color: #0C467F;
	}
	
	.background-color-0f487f {
	   background-color: #0f487f;
	}
	.background-color-2b7dbc {
	   background-color: #2b7dbc;
	}
	
	.background-color-5891C8 {
	   background-color: #5891C8;
	}
	
	
	/*Margin Classes*/
	.margin-5px {
		margin : 5px;
	}
	.margin-top_bottom_10px {
	   margin: 10px 0px 10px 0px;
	}
	.margin-top_bottom_20px {
	   margin: 20px 0px 20px 0px;
	}
	
	.margin-top-10px {
	   margin-top: 10px;
	}
	
	.margin-top-20px {
	   margin-top: 20px;
	}
	
	.margin-6px {
	   margin: -6px auto !important;
	}
	
	.margin-6px a{
	   right: -18px !important;
	}
	
	.margin-top-70px {
	   margin-top: 70px;
	}
	.margin-left-20px {
	   margin-left: 20px;
	}
	.margin-right-10px {
	   margin-right: 10px;
	}
	.margin-left-10px {
	   margin-left: 10px;
	}
	.margin-right-15px {
	   margin-right: 15px;
	}
	.margin-left-15px {
	   margin-left: 15px;
	}
	.margin-left-25px-imp {
	   margin-left: 14px !important;
	}
	
	/*padding Classes*/
	.padding-15px {
	   padding: 15px;
	}
	
	.padding-bottom-10px {
	   padding-bottom: 10px;
	}
	
	/*Border Classes*/
	.border-bottom-dotted-gray {
		border-bottom: dotted 1px #BEBEBE;
	}
	
	/*Button Classes*/
	
.profile-btn {
	background-color: #BAB9B9!important;
	border-radius: 5px;
	border-bottom: solid 2px #0D467F;
	display: inline-block;
	width: 130px;
	height: 44px;
	line-height: 42px;
	color: #0D467F;
	font-size: 14px;
	font-weight: bold;
}
	
.messages-btn {
	width: 110px;
}

.people-btn{
	width: 178px !important;
	height: 40px !important;
	background-color: #C7C7C7;
}
	.btn-done-cancel {
		width: 50%;
		height: 26px;
		background-color: #2b7dbc;
		color: white;
		font-size:18px;
	}
	
	.btn-signIn {
		display: block;
		width: 100%;
		height: 40px;
		font-size: 18px;
		/*margin-left: 16px;*/
	}
	
	.btn-reply {
		height: 36px;
		background-color: #2b7dbc;
		color: white;
		font-size:18px;
		font-weight: bold;
	}
	
	.main-box{
		min-height: 100%;
		min-width: 100%;
		position: absolute;
		background: url("../pics/background-full.jpg") no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	
	.logo-style {
		text-align: center;
		margin-bottom: 10px;
	}
	
	.input-chechbox {
		float: left;
		margin-right: 6px !important;
		height: 17px !important;
		width: 17px !important;
	}
	
	.checkbox{
		color:#FFF;
	}
	
	.left-checkbox{
		float: left;
		margin-top: 36px;
		margin-left: 16px;
	}
	
	.form-control{
		display: block;
		width: 98%;
		height: 28px;
		font-size: 13px;
		line-height: 1.42857;
		color: #555;
		background-color: #FFF;
		background-image: none;
		/*margin-left: 12px;*/
		border: 1px solid #666666;
		border-radius: 4px;
	}
	
	.login-box{
		width:70%;
		height:310px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -155PX;
		margin-left: -35%;
		background-color: #000000;
		background-color: rgba(0, 0, 0, 0.3);
		-moz-border-radius-topleft: 5px;
		-moz-border-radius-topright:5px;
		-moz-border-radius-bottomleft:5px;
		-moz-border-radius-bottomright:5px;
		-webkit-border-top-left-radius:5px;
		-webkit-border-top-right-radius:5px;
		-webkit-border-bottom-left-radius:5px;
		-webkit-border-bottom-right-radius:5px;
		border-top-left-radius:5px;
		border-top-right-radius:5px;
		border-bottom-left-radius:5px;
		border-bottom-right-radius:5px;
			
		
	}
	
	.logopanel {
		padding: 13px 10px;
		background: #fff;
		text-align: center;
	}
	
	label {
		font-size: 12px;
		font-weight: normal;
		line-height: 28px;
	}
	
	/*People Classes*/
	.student-info {
		width:150px; 
		height:60px; 
		position: absolute;
		top: 16px; 
		left:70px;
	}
	
	.report-info {
		float: left;
		margin: 10px;
	}
	
	.report-info a{
		color: #0C467F;
		font-size: 16px;
	}
	
	.tag-friends{
		 width:90px;
		 height:20px; 
		 text-align:center;
	 }
	
	.peple-chechbox{
	   /* -webkit-appearance: none;*/
		background-color: white;
		border: 2px solid #2b7dbc;
		box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
		padding: 9px;
		border-radius: 4px !important;
		display: inline-block;
		bottom: 28px;
		right: 12px;
		width:22px !important;
		height:20px !important;
	}
	
	.do-action {
		width: 100%;
		position:fixed;
		bottom:0px;
	}
	/*Message Classes*/
	.img-message {
		float: left;
		margin-top: 13px;
		margin-left: 4px;
	}
	
	.message-info {
		float: auto;
		margin-left: 60px;
		padding-top: 15px;
	}
	
	.message-time {
		float: right;
		margin-right: 12px;
		margin-top: 15px;
	}
	
	.message-text {
		 padding: 15px 15px 30px 15px;
	}
	
	.message-small-input {
		 width: 100%;
		 height: 28px;
		 border-radius: 0px !important;
		 border-color: #2B7DBC;
	}
	.message-big-input {
		 width: 100%;
		 height: 201px;
		 border-radius: 0px !important;
		 border-color: #2B7DBC ;
		 text-align: left;
		padding: 0.4em 0.4em 0.4em 0;
	}
	
	.background-input {
		background: url(pics/student.jpg) no-repeat scroll 7px 7px;
		padding-left:30px;
	}
	
	.container .messageBackground {
		height:100%;
		padding-top:45px;
		background-color:#EBEBEB;
		text-align:center;
	}
	
	.boxInput {
		position:relative;  
		width:90%; 
		height:38px; 
		margin:15px auto;
		text-align: center;
	}
	
	.boxInput a {
		position:absolute; 
		right:-9px; 
		top:0px; 
		display:block; 
		width:46px;
		height:100%;
		background-color:#2B7DBC; 
		line-height: 45px;
		color:white;
		font-size: 20px;
	}
	
	/*My Course*/
	.repeated-li {
		overflow:hidden; 
		list-style:none;
		border-bottom: 2px dotted #CCCCCC;
	}
	
	.course-info {
		line-height: 60px;
		padding-left: 10px;
		color: #2B7DB8;
		font-size: 14px;
		font-weight: bold;
	}
	
	.tabs-link {
		list-style:none;
		margin-left: 0 !important;
		overflow:hidden;
	}
	
	.tabs-link li {
		float: left;
		width: 50%;
		/*border-right: 1px dotted red;*/
	
	}
	
	.tabs-link li a {
		display: block;
		border-right: 1px dotted #9F9F9F;
		text-align: center;
		height:40px;
		line-height: 40px;
		border-bottom: solid 3px #9F9F9F;
		background:#EBEBEB;
		font-size: 16px;
		color: #A5A5A5;
		cursor:pointer;
	}
	
	.tabs-link li:last-child a {
		border-right: none;
	}
	
	.active-link {
		border-bottom:solid 3px #5891c8 !important;
		color: #5891c8 !important;
	}
	
	.active-link span{
		display:block;
		margin:-22px auto;
		text-align:center;
	}
	
	.active-link span .fa{
		color: #5891c8 !important;
		font-size: 24px;
	}
	
	.tabs-link span .fa {
		color: #EBEBEB;
		font-size: 24px;
	}
	
	.detail-info {
		text-align: center;
		/*height: 52px;*/
		background: #EBEBEB; 
		padding: 8px;
		line-height: 14px;
		border-bottom:solid 4px #cccccc;
	}
	
	.course-name {
		color:#0C467F;
		font-size: 16px; 
		padding-top: 10px;
	}
	 
	.prof-name {
		color: #333333;
		font-size: 11px; 
	}
	
	.outline-style {
		height: 248px;
	}
	
	.pages-link {
		width: 100%;
		position: fixed;
		bottom: 0px;
	}
	
	.searchbar {
		background-color:#EBEBEB;
		height:52px; 
		border-bottom:solid 4px #999999;
	}
	
	.request-btn {
		background-color: #CCCCCC !important;
		border-radius: 5px;
		border-bottom: solid 2px #0D467F;
		display: inline-block;
		width: 130px;
		height: 30px;
		line-height: 28px;
		color: #0D467F;
		font-size: 11px;
		font-weight:bold;
		margin-bottom:10px
	}
	
	.req-inf {
		width: 160px;
	}
	
	.summary-msg {
		display: inline-block;
		color:#525252;
		font-size: 12px;
	}
	
	.post-msg {
		color: #2B7DBA;
		font-size:12px;
		display: inline-block;
		
	}
	
	.send-msg {
		background: #2B7DBC;
		height: 40px;
		width:100%;
		position: fixed;
		bottom: 0px;
	}
	
	.parent-discussion {
		/*background-color:red;*/
		position: relative;
		margin-right: 12px;
		margin-top: 22px;
		margin-left: 64px;
	}
	
	.child1-discussion {
		background-color: #E7F0F8;
		margin-left: 7px;
		border: solid 1px #CCCCCC;
		padding: 5px;
	}
	
	.child2-discussion {
		background-image: url("../pics/chat.png");
		background-repeat: no-repeat;
		/*background-color:blue;*/
		position:absolute;
		width: 20px;
		height: 20px;
		top: 0px;
	}
	
	.discussion-detail-Initiated {
		margin-top: -12px;
		display: block;
		color: #333333;
		font-size: 11px; 
	}
	
#main ul {
	margin-top: 50px !important;
}
.li-boxes {
	width: 96%;
	border: solid 1px #CCCCCC;
}

.box1 {
	height: 54px;
	border-bottom: solid 4px #CCCCCC;
	background:#EBEBEB;
}

.box2 {
	border-bottom: solid 1px #CCCCCC;
	text-align: left;
    line-height: 30px;
	font-size: 12px;
    padding: 5px 0 0 5px;
}

.box3 {
	border-bottom: solid 1px #CCCCCC;
	overflow: hidden;
	padding: 15px 0;
	
}
.box3 div{
	width: 33.3%;
	float: left;
}

.box3-first {
	/*background: red;*/
}

.box3-second {
	/*background: blue;*/
}

.box3-third {
	/*background: yellow;*/
}

.box4 {
	overflow: hidden;
	padding: 15px 0;
}

.box4 div{
	width: 50%;
	float: left;
}

.box4-first span{
	color: #0C467F;
	font-weight: bold;
    font-size: 16px;
	float: right;
}

.box4-second span{
	float: left;
    padding-left: 4px;
	color:#333333; 
    font-size: 13px;
	
}

.box4-number {
	padding: 0 5px 0 0;
    font-size: 16px !important;
	font-weight: bold;
    color: #2B7DBB !important;
}

.calendar{
	color: #0D467F;
	font-size: 44px !important;
}
/******************************************************/
	
.bs-example {
	margin: 20px;
}

.carousel-control {
	width: 0%;
	font-size: 15px;
	color: #d3d3d3;
	/* text-shadow: none; */
}

.carousel-control.right {
	background-image: none !important;
}

.arrow-regular {
	width: 65px;
	height: 50px;
	background-color: red;
	text-align: right;
	line-height: 60px;
}

.arrow-right {
	right: 0px !important;
	width: 65px;
	height: 50px;
	background-color: red;
	text-align: right;
	line-height: 60px;
}

.arrow-left {
	left: 0px !important;
	width: 65px;
	height: 50px;
	background-color: red;
	text-align: left;
	line-height: 60px;
}

.carousel-caption{
	position: relative !important;
	width:99%;
	text-align:left;
	font-size:8pt;
	color:#fff;
	text-shadow:none;
	padding:5px !important;
	background :none !important;
	
}

.div_chart{
	min-height: 320px;
   
}
.ScrollStyle
{
	max-height: 150px;
	overflow-y: scroll;
}

.carousel-caption div{
	padding: 8px;
	float: left;
	line-height: 18px;
	margin: 10px;
	background-color:#0C467F;
}
.carousel-indicators{
	bottom:-10px !important;	
}
	
	
/*******************************
			Menu
********************************/
 
#page {
	position: relative; 
	z-index: 20px;
	/*padding-left: 10px;*/
	background: #fff;
	height: 108.5%;      
}

/*#toggle-menu {
	position: absolute;
	top: 10px;
	left: 10px;
}*/
 
#menu {
	display: none;
	background:#E5E5E5;
	position: absolute;
	bottom: 0;
	left: 0;
	top: 0;
	width: 70% ;
	/*overflow: hidden;*/
	height: 100%;
	margin: 0px !important;
	font-family: varenda;
}

#menu li{
	margin-left: 30px;
	list-style: none;
}
 
#menu a {    
	display: block;
	color: #0C467F;
	font-size: 15px;
	font-weight: bold;
	padding: 15px 0;
	border-bottom: 1px solid rgba( 255, 255, 255, 0.05 );
	/*background-color: red;*/	
}      


#menu a i {
	padding-right: 6px;
}

.header-menu {
border-bottom: solid 3px #0F487F;
background-color: #2B7DBC;
padding: 15px 0px;
text-align: center;
}

.header-menu img{
    margin: 0 auto;
}

#page {
 /*transform: translate3d( -30px, 0, 0 );*/ /* X, Y, Z */
 /*-webkit-transform: translate3d( -30px, 0, 0 );*/
}

.animating #menu, .menu-visible #menu {
  display: block;
}

.animating #page {
  transition: transform .45s ease-in-out;
  -webkit-transition: -webkit-transform .45s ease-in-out;
}

.animating.left #page {
  transform: translate3d( -70%, 0, 0 );
  -webkit-transform: translate3d( -70%, 0, 0 );
}

.animating.right #page {
  transform: translate3d( 70%, 0, 0 );
  -webkit-transform: translate3d( 70%, 0, 0 );
}
.menu-visible #page {
  left: 70%;
}

.navbar-fixed-top{position:fixed;}
.menu-visible .navbar-fixed-top{position:absolute;}

.about{
	border-bottom: dotted 1px gray;
    font-size:16px;
	font-weight: bold;
	color: #2B7DBA;
	margin: 0 16px;
	padding-bottom :5px;
}







